# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\wysoc\OneDrive\Pulpit\2020Z_AISD_proj_ind_GR3_gr31\vaccine-management-center\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
